#body {
    position: relative;
    margin: 2em;
}

h2 {
    margin-top: 0.5em;
}

p.main_p {
    margin-top: 1em;

    text-align: center;
}

#body > div > div:first-child {
    padding-bottom: 2em;
}

#body > div > div:last-child {
    clear: both;
    padding-top: 2em;
}