@import url("main.css");

#top {
    padding: 2em;
    margin-bottom: 2em;
    background-color: #2E51A2;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    text-align: center;

    color: #FFF;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;

    color: #FFF;
}

#user_1_section {
    float: left;
    width: 50%;
}

#user_2_section {
    float: right;
    width: 50%;
}

.username_input {
    text-align: center;
}

h3 {
    font-size: 2em;
    font-weight: bold;

    color: #2E51A2;
}

.user_update_status {
    display: none;
    margin-bottom: 2em;

    text-align: center;
}

p {
    font-size: 1em;
    font-weight: bold;

    color: #2E51A2;
}

#stats {
    clear: both;
    display: none;
}

.stat h3 {
    clear: both;
    margin-bottom: 0.5em;

    text-align: center;
}

.stat div {
    width: 50%;
    margin-bottom: 2em;
}

.stat .stat_1 {
    float: left;
}

.stat .stat_2 {
    float: right;
}

.stat div p {
    padding: 0.5em;

    font-size: 2em;
    font-weight: bold;

    color: #FFF;
}

.stat .stat_2 p {
    float: right;

    text-align: right;
}
