@import url("main.css");

h1 {
    text-align: center;
    color: #FFF;
}

h2 {
    text-align: center;
    color: #FFF;
}

#user_1_section {
    float: left;
    width: 50%;
}

#user_2_section {
    float: right;
    width: 50%;
}

.username_input {
    margin-bottom: 2em;

    text-align: center;
}

h3 {
    color: #2E51A2;
}

.backend_error {
    display: none;

    text-align: center;
}

.username_error {
    display: none;

    text-align: center;
}

.user_update_status {
    display: none;
    margin-bottom: 2em;

    text-align: center;
}

p {
    color: #2E51A2;
}

.user_update_status img {
    display: block;
    height: 8em;
    margin-left: auto;
    margin-right: auto;
}

#stats {
    display: none;
    clear: both;
}

.stat {
    margin-bottom: 8em;
}

.stat h3 {
    text-align: center;
}

.stat div {
    position: relative;
}

.stat div div {
    position: absolute;
    top: 1em;
    width: 50%;
    height: 4em;
}

.stat div .stat_1_bar {
    left: 0em;
}

.stat div .stat_2_bar {
    right: 0em;
}

.stat div p {
    z-index: 1;
    position: absolute;
    top: 1em;

    font-size: 2em;
    line-height: 1em;
    color: #FFF;
}

.stat div .stat_1 {
    left: 0.5em;
}

.stat div .stat_2 {
    right: 0.5em;

    text-align: right;
}