body {
    margin: 0%;

    font: medium Verdana, Tahoma, sans-serif;
}

h1 {
    margin: 0em;

    font-size: 4em;
    line-height: 1em;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}

h2 {
    margin: 0em;

    font-size: 4em;
    line-height: 1em;
    font-weight: bold;
    text-align: center;
    color: #2E51A2;
}

h3 {
    margin: 0em;

    font-size: 2em;
    line-height: 1em;
    font-weight: bold;
    text-align: center;
    color: #2E51A2;
}

p {
    margin: 0em;

    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
    color: #2E51A2;
}