body {
    margin: 0%;

    font: medium Verdana, Tahoma, sans-serif;
}

#top {
    padding: 1em;
    background-color: #2E51A2;
}

.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;

    color: #FFF;
}

.description {
    font-size: 1em;
    font-weight: bold;
    text-align: center;

    color: #FFF;
}

#user_1 {
    float: left;
    width: 50%;
}

#user_2 {
    float: right;
    width: 50%;
}

.input {
    text-align: center;
}

.user_update_status {
    display: none;
}

.stats {
    display: none;
}

.heading {
    font-size: 1em;
    font-weight: bold;

    color: #000;
}