<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AnimeList Duel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/index.css">
</head>
<body style="margin: 0;">
    <div id="react-root"></div>
    <script th:inline="javascript">
        var baseUrl = /*[[${baseUrl}]]*/ '';
        var initialUsers = /*[[${initialUsers}]]*/ '';
        var maxScoreComparisons = /*[[${maxScoreComparisons}]]*/ '';
        var maxUsers = /*[[${maxUsers}]]*/ '';
    </script>
    <script src="../js/_index.js"></script>
</body>
</html>