.index_ {
  .header_ {
    padding: 12px 0;
    text-align: center;
    color: white;
  }

  .user_tiles_ {
    padding: 20px 0 12px;
    text-align: center;
  }

  .user_stats_ {
    padding: 12px;
    text-align: center;
  }

  .score_comparisons_ {
    padding: 12px;
    text-align: center;
  }
}

.user_tile_ {
  display: inline-block;
  vertical-align: top;
  height: 156.2px;
  margin: 0 6px 0;
  padding: 12px;
  text-align: center;

  .text_field_ {
    width: 180px;
  }

  .button_ {
    margin-top: 23px;
  }

  .profile_photo_ {
    margin: 12px 0 0;
    height: 64px;
  }
}

.user_stat_ {
  padding: 12px 0 0;

  .label_ {
    padding: 0 0 6px;
  }

  .bar_ {
    display: inline-block;
    width: 100%;

    .bar_section_ {
      display: inline-block;

      .stat_ {
        padding: 12px 0;
        text-align: center;
        overflow: hidden;
        z-index: 100;
      }
    }
  }
}

.score_comparison_ {
  padding: 12px 0 0;

  .label_ {
    padding: 0 0 6px;
  }

  .image_outer_ {
    width: 50%;

    .image_ {
      height: 128px;
    }
  }

  .scores_ {
    width: 50%;

    .score_ {
      width: 100%;
    }
  }
}